/*
    This is your CSS file! This is how we make our website
    look very pretty. We also tend to write code in here that
    makes sure our website looks good on phones.
*/

/*
    Don't worry too much about what this code here does - it just
    makes our coding life slightly less frustrating.
    However, you're more than welcome to ask me if want to know all
    the technical details! 😉
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    /*
        Specific styles that change how our website looks on phones
        and smaller screens should go here.
    */
}